---
layout: layout.html
---
<style>
    main {
        max-width: 1920px !important;
    }
    .trips-nav {
		display: grid;
        grid-gap: 2rem;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;
		color: #444;
	}

	.box {
		background-color: #444;
		color: #fff;
		border-radius: 5px;
		padding: 1rem 1rem 3rem;
        font-size: 1.125rem;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
        transition: all 0.5s ease;
        
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
        min-height: 5rem;
        min-height: 24rem;
        
        span {
            background-color: rgba(198, 183, 148, 0.75);
            padding: 0.25rem 0.5rem;
        }
        &:hover {
            transform: scale(1.1);
            box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
        }
	}
    .a {
        grid-column: auto / span 2;
        background-image: url(https://live.staticflickr.com/65535/54458841538_5aab08fce7_h.jpg);
    }
    .b {
        background-image: url(https://live.staticflickr.com/65535/54022441010_1588e108af_h.jpg); 
    }
    .c {
        background-image: url(https://live.staticflickr.com/65535/53671297941_3104f3fb82_k.jpg); 
    }
    .d {
        grid-column: auto / span 2;
        grid-row: auto / span 2;
        background-image: url(https://live.staticflickr.com/65535/53288852151_1792f93973_4k.jpg);
    }
    .e {
        background-image: url(https://live.staticflickr.com/65535/52450646101_c6c22eb382_k.jpg); 
    }
    .f {
        background-image: url(https://live.staticflickr.com/65535/52377615434_25d1789d63_k.jpg); 
    }
    .g {
        grid-column: auto / span 2;
        grid-row: auto / span 2;
        background-image: url(https://live.staticflickr.com/65535/51828846409_32027adc41_k.jpg);
    }
    .h {
        background-image: url(https://live.staticflickr.com/65535/51181832707_638dcd7918_k.jpg); 
    }
    .i {
        background-image: url(https://live.staticflickr.com/65535/49090168487_36a9ec88fc_k.jpg); 
    }
    .j {
        background-image: url(https://live.staticflickr.com/4317/35854425982_309f2115b6_k.jpg); 
    }
    .k {
        background-image: url(https://live.staticflickr.com/2816/34190266871_b8b2bd3c41_k.jpg);
    }
    .l {
        background-image: url(https://live.staticflickr.com/1616/25011085930_4a7bf76313_k.jpg); 
    }
    .m {
        background-image: url(https://live.staticflickr.com/5609/15730830766_fb35821e93_k.jpg); 
    }
    .latest {
        margin: 3rem auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @media screen and (min-width: 900px) {
            flex-direction: row;
            aside {
                flex-basis: 35%;
            }
        }
        aside {
            padding: 1rem 1rem 3rem;
            border: 0.125rem dotted #ff9090;
            h2 {
                font-size: 3rem;
            }
            h2, p, a {
                font-weight: 300;
                color: #f9f9f9;
            }
            a {
                display: inline-block;
                margin-top: 0.5rem;
            }
        }
    }
    .latest-posts {
        flex: 1 1 auto;
        padding: 1rem 1rem 3rem;
        background-color: #ff9090;

        h2 {
            font-size: 2rem;
            text-align: left;
        }
    }
</style>

<nav class="trips-nav">
    <a href="/malta/Malta-2025" class="box a"><span>Malta 2025</span></a>
    <a href="/yellowstone/Yellowstone-2024/" class="box b"><span>Yellowstone & Grand Tetons NP 2024</span></a>
    <a href="/ireland/Ireland-2024/" class="box c"><span>Ireland 2024</span></a>
    <a href="/japan/Japan-2023" class="box d"><span>Japan 2023</span></a>
    <a href="/acadia/Acadia-2022/" class="box e"><span>Acadia NP 2022</span></a>
    <a href="/seattle/Seattle-2022/" class="box f"><span>Seattle 2022</span></a>
    <a href="/iceland/Iceland-2021" class="box g"><span>Iceland 2021</span></a>
    <a href="/smokymountains/Smoky-Mountains-2021/" class="box h"><span>Great Smoky Mountain NP 2021</span></a>
    <a href="/czech/Czech-Republic-2019" class="box i"><span>Prague 2019</span></a>
    <a href="/australia/Australia-2017/" class="box j"><span>Australia 2017</span></a>
    <a href="/newzealand/NewZealand-2017/" class="box k"><span>New Zealand 2017</span></a>
    <a href="/italy/Italy-2016/" class="box l"><span>Italy 2016</span></a>
    <a href="/england/England-2014/" class="box m"><span>England 2014</span></a>
</nav>

<section class="latest">
   <div class="latest-posts">
        <h2>Latest Posts:</h2>
        {% for post in collections.post %}
        <article>
            <h2><a href="{{ post.url }}" target="_blank">{{ post.data.title }}</a></h2>
        </article>
        {% endfor %}
    </div>
    <aside>
        <h2>Wave Cloud Pine?</h2>
        <p>I am compelled to give myself creative assignments while on our travel adventures. Our days are almost always filled with food, history, interesting flora and fauna, and plenty of good company. I feverishly document as much as I can while also looking to reflect what I see along the way.</p>
        <a href="/posts/About">Read More</a>
    </aside>
</section>


<!--
<section class="featured-trips">
    <h2>Featured Trips</h2>
    <div style="border: 0.5rem dashed #f9f9f9; padding: 3rem; margin: 3rem;">
        <h3>Japan</h3>
        {% for post in collections.japan %}
        <article>
            <h2><a href="{{ post.url }}" target="_blank">{{ post.data.title }}</a></h2>
        </article>
        {% endfor %}
    </div>

    <div style="border: 0.5rem dashed #f9f9f9; padding: 3rem; margin: 3rem;">
        <h3>Iceland</h3>
        {% for post in collections.iceland %}
        <article>
            <h2><a href="{{ post.url }}" target="_blank">{{ post.data.title }}</a></h2>
        </article>
        {% endfor %}
    </div>

    <div style="border: 0.5rem dashed #f9f9f9; padding: 3rem; margin: 3rem;">
        <h3>Czech Republic</h3>
        {% for post in collections.czech %}
        <article>
            <h2><a href="{{ post.url }}" target="_blank">{{ post.data.title }}</a></h2>
        </article>
        {% endfor %}
    </div>
</section>
-->