@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
:root {
  --gradient: linear-gradient(
      45deg,
      hsl(274deg 100% 9%) 0%,
      hsl(283deg 78% 13%) 8%,
      hsl(295deg 71% 15%) 17%,
      hsl(306deg 67% 19%) 25%,
      hsl(314deg 66% 24%) 33%,
      hsl(321deg 64% 29%) 42%,
      hsl(327deg 62% 34%) 50%,
      hsl(333deg 60% 40%) 58%,
      hsl(338deg 57% 45%) 67%,
      hsl(343deg 57% 51%) 75%,
      hsl(348deg 68% 57%) 83%,
      hsl(354deg 82% 63%) 92%,
      hsl(0deg 100% 69%) 100%
    );
  --gradient-japan: linear-gradient(
      45deg,
      hsl(274deg 54% 95%) 0%,
      hsl(286deg 57% 92%) 8%,
      hsl(299deg 54% 90%) 17%,
      hsl(311deg 65% 88%) 25%,
      hsl(320deg 78% 86%) 33%,
      hsl(327deg 89% 84%) 42%,
      hsl(333deg 99% 83%) 50%,
      hsl(338deg 100% 80%) 58%,
      hsl(342deg 100% 78%) 67%,
      hsl(346deg 100% 76%) 75%,
      hsl(351deg 100% 73%) 83%,
      hsl(355deg 100% 71%) 92%,
      hsl(0deg 100% 69%) 100%
    );
  --gradient-iceland: linear-gradient(
      45deg,
      hsl(0deg 0% 100%) 0%,
      hsl(214deg 100% 97%) 8%,
      hsl(213deg 100% 93%) 17%,
      hsl(213deg 100% 90%) 25%,
      hsl(212deg 100% 86%) 33%,
      hsl(194deg 100% 77%) 42%,
      hsl(185deg 100% 62%) 50%,
      hsl(178deg 100% 49%) 58%,
      hsl(167deg 100% 50%) 67%,
      hsl(170deg 100% 50%) 75%,
      hsl(173deg 100% 50%) 83%,
      hsl(176deg 100% 50%) 92%,
      hsl(178deg 100% 50%) 100%
    );
  --gradient-italy: linear-gradient(
    45deg,
    hsl(109deg 100% 20%) 0%,
    hsl(106deg 96% 22%) 7%,
    hsl(104deg 93% 25%) 13%,
    hsl(102deg 89% 27%) 20%,
    hsl(102deg 62% 35%) 27%,
    hsl(100deg 33% 54%) 33%,
    hsl(98deg 34% 72%) 40%,
    hsl(96deg 35% 91%) 47%,
    hsl(16deg 100% 93%) 53%,
    hsl(14deg 100% 80%) 60%,
    hsl(12deg 100% 68%) 67%,
    hsl(6deg 100% 55%) 73%,
    hsl(360deg 96% 49%) 80%,
    hsl(360deg 90% 48%) 87%,
    hsl(360deg 86% 47%) 93%,
    hsl(0deg 82% 45%) 100%
  );
}
* {
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

/* Typography */
h1 {
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase;
}

/* Site Header */
.site-header {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &.fixed {
    position: fixed;
    z-index: 10000; /* it's over 9000!!!!! */
    width: 100%;
    top: 0;
  }
}

.site-header ul {
  display: flex;
  list-style: none;
  gap: 1rem;

  background-color: rgba(17, 17, 17, 0.9);
  color: #f9f9f9;
  padding: 2rem 4rem 3rem;
  position: absolute;
  right: 0;
  width: 100%;
  flex-wrap: wrap;
  max-width: 108ch;
  z-index: 9001; /* it's over 9000!!!!! */

  a, a:visited {
    color: #f9f9f9;
    padding: 0.5rem;
    text-decoration: none;

    &:hover {
      color: rgb(255, 97, 97);
    }
  }
  .home-link {
    flex-basis: 100%;

    svg {
      fill: #f9f9f9;
      height: 1.5rem;
    }
    a:hover svg {
      fill: rgb(255, 97, 97);
    }
  } 

}

/* Site Main */
main {
  padding: 1rem;
  margin: 0 auto;
  
  @media screen and (min-width: 1080px) {
      padding: 10rem;
  }
}
.parallax-trips main {
  padding: 0;
}

/* Site Footer */
.site-footer {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-block-size: 45vh;
    display: grid;
    align-content: center;
}
.overlay {
    border-image: linear-gradient(hsla(0, 0%, 100%, 0.6), hsla(230.8, 100%, 5.1%, 0.87)) fill 1;
}  
.gradient {
    background-image: linear-gradient(
      45deg,
      hsl(274deg 100% 9%) 0%,
      hsl(283deg 78% 13%) 8%,
      hsl(295deg 71% 15%) 17%,
      hsl(306deg 67% 19%) 25%,
      hsl(314deg 66% 24%) 33%,
      hsl(321deg 64% 29%) 42%,
      hsl(327deg 62% 34%) 50%,
      hsl(333deg 60% 40%) 58%,
      hsl(338deg 57% 45%) 67%,
      hsl(343deg 57% 51%) 75%,
      hsl(348deg 68% 57%) 83%,
      hsl(354deg 82% 63%) 92%,
      hsl(0deg 100% 69%) 100%
    );
  } 
  .gradient-japan {
    background-image: linear-gradient(
      45deg,
      hsl(274deg 54% 95%) 0%,
      hsl(286deg 57% 92%) 8%,
      hsl(299deg 54% 90%) 17%,
      hsl(311deg 65% 88%) 25%,
      hsl(320deg 78% 86%) 33%,
      hsl(327deg 89% 84%) 42%,
      hsl(333deg 99% 83%) 50%,
      hsl(338deg 100% 80%) 58%,
      hsl(342deg 100% 78%) 67%,
      hsl(346deg 100% 76%) 75%,
      hsl(351deg 100% 73%) 83%,
      hsl(355deg 100% 71%) 92%,
      hsl(0deg 100% 69%) 100%
    );
  }
  .gradient-iceland {
    background-image: linear-gradient(
      45deg,
      hsl(0deg 0% 100%) 0%,
      hsl(214deg 100% 97%) 8%,
      hsl(213deg 100% 93%) 17%,
      hsl(213deg 100% 90%) 25%,
      hsl(212deg 100% 86%) 33%,
      hsl(194deg 100% 77%) 42%,
      hsl(185deg 100% 62%) 50%,
      hsl(178deg 100% 49%) 58%,
      hsl(167deg 100% 50%) 67%,
      hsl(170deg 100% 50%) 75%,
      hsl(173deg 100% 50%) 83%,
      hsl(176deg 100% 50%) 92%,
      hsl(178deg 100% 50%) 100%
    );
  }

.parallax-trips {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  overflow-x:hidden;
}
.parallax-trips h1, 
.parallax-trips h2, 
.parallax-trips h3 {
  font-family: "Oswald", sans-serif; 
  font-weight: 400;
}

.parallax-trips h1 {
  
  font-size: 24px;
  
  
  color: black;
  padding: 0;
  margin: 0;
}
.parallax-trips h2 {
  font-size: 70px;
  letter-spacing: 10px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  z-index: 10;
  opacity: 0.9;
}
.parallax-trips h3 {
  font-size: 14px;
  line-height: 0;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: black;
}
.parallax-trips p {
  font-family: "Source Sans Pro", sans-serif;
  
  font-size: 14px;
  line-height: 24px;
}
.first-character {
  float: left;
  font-size: 84px;
  line-height: 64px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: "Source Sans Pro", sans-serif;
}

.sc {
  color: #3b8595;
}
.ny {
  color: #3d3c3a;
}
.atw {
  color: #c48660;
}

/* Section - Title */
/**************************/
.parallax-trips .title {
  background: white;
  padding: 60px;
  margin: 0 auto;
  text-align: center;
}
.parallax-trips .title h1 {
  font-size: 35px;
  letter-spacing: 8px;
}

/* Section - Block */
/**************************/
.parallax-trips .block {
  background: white;
  padding: 60px;
  width: 820px;
  margin: 0 auto;
  text-align: justify;
}
.parallax-trips .block-gray {
  background: #f2f2f2;
  padding: 60px;
}
.parallax-trips .section-overlay-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
}

/* Section - Parallax */
/**************************/
.parallax-bg {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.parallax-zero {
  background-image: url(https://images.unsplash.com/photo-1533134486753-c833f0ed4866);
  min-height: 350px;
  
  @media screen and (min-width: 1080px) {
      min-height: 700px;
  }
}
.parallax-one {
  background-image: url(https://images.unsplash.com/photo-1533134486753-c833f0ed4866);
  background-position: top center;
}
.parallax-two {
  background-image: url(https://images.unsplash.com/photo-1533134486753-c833f0ed4866);
}
.parallax-three {
  background-image: url(https://images.unsplash.com/photo-1533134486753-c833f0ed4866);
}

/* Extras */
/**************************/
.parallax-trips .line-break {
  border-bottom: 1px solid black;
  width: 150px;
  margin: 3rem auto;
}

/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  .parallax-trips .block {
    padding: 40px;
    width: 620px;
  }
}
@media screen and (max-width: 767px) {
  .parallax-trips {
    .block {
      padding: 30px;
      width: 420px;
    }
    h2 {
      font-size: 30px;
    }
    .block {
      padding: 30px;
    }
    .parallax-bg {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
}
@media screen and (max-width: 479px) {
  .parallax-trips .block {
    padding: 30px 15px;
    width: 290px;
  }
}


